<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细消息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DingDingWebService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <section name="SapSetting" type="BIMWebService.Mode.Sys.SapSetting, BIMWebService, Version=1.0.0.0, Culture=neutral" allowDefinition="Everywhere"/>
  </configSections>
  <SapSetting DbPassword="Abcd@123" DbServerType="dst_HANADB" DbUserName="SYSTEM" Language="ln_Chinese" LicenseServer="172.16.199.191:40000" Server="172.16.199.191:30015" DataSource="DRIVER={0};UID=SYSTEM;PWD=Abcd@123;SERVERNODE=172.16.199.191:30015;CurrentSchema={1}" UseTrusted="False" CorpId="dingbe556fe8ba2a8a74" Secret="0hkRQyPQZhwWOt3c5Jjt9xfaTMtY4nHktfoQ9oIFH9rapBKQpBPNjIpRmWvNfTqe" EngineCode="cetvte8lcop4bb2l" Url="https://www.h3yun.com/Webservices/BizObjectService.asmx" LossQrAccount="190101" OverageQrAccount="190101" UserCode="HXV$hGp6JeeP*aSx44Hkn0zRdBPm7vbTRKgsRyceQYmTlnZhz9Kb1eWx$tOZQMH*">
    <CompanyCollection>
      <add CompanyDb="BENEMAE" PassWord="manager" UserName="1234"/>
    </CompanyCollection>
  </SapSetting>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    <sessionState mode="InProc" timeout="60"/>
    <httpRuntime maxRequestLength="40960" executionTimeout="1800"/>
    <webServices>
      <protocols>
        <add name="HttpSoap"/>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
        <add name="Documentation"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <applicationSettings>
    <DingDingWebService.Properties.Settings>
      <setting name="DingDingWebService_com_h3yun_www_BizObjectService" serializeAs="String">
        <value>http://www.h3yun.com/Webservices/BizObjectService.asmx</value>
      </setting>
    </DingDingWebService.Properties.Settings>
  </applicationSettings>
</configuration>